@mixin after_circle {
    &::after {
        content: '';
        position: absolute;
        z-index: 5;
        top: -20%;
        left: 114px;
        width: 17px;
        height: 17px;
        background: #D3D3B5;;
        border-radius: 100%;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #5E5C5A;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@mixin after_circle-2 {
    &::after {
        content: '';
        position: absolute;
        z-index: 5;
        top: -20%;
        left: 92px;
        width: 17px;
        height: 17px;
        background: #D3D3B5;;
        border-radius: 100%;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #5E5C5A;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title {
    font-family: 'Spectral SC';
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #424242;
    text-align: center;
}