.content {
    &__title {
        margin-top: 64px;
        font-family: 'Spectral SC';
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
        color: #424242;
    }
}