.content {
    &__trash {
        margin-top: 64px;
        margin-bottom: 117px;
        &-header {
            max-width: 1074px;
            display: flex;
            justify-content: space-between;
        }
        &-title {
            font-size: 28px;
            font-weight: 600;
            line-height: 28px;
            color: #424242;
        }
        &-clean {
            font-weight: normal;
            font-size: 16px;
            text-decoration-line: underline;
            color: #BDBDBD;
            border: none;
            outline: none;
            background-color: #fff;
            cursor: pointer;
        }
        &-divider {
            margin: 24px 0;
            max-width: 1074px;
            border: 1px solid #BDBDBD;
        }
        &-main { 
            margin-bottom: 64px;
            display: grid;
            grid-template-columns: 1074px 522px;
            column-gap: 20px;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 27px;
            &-title {
                max-width: 340px;
                font-weight: 600;
                font-size: 18px;
                color: #424242;
            }
            &-price {
                font-weight: 600;
                font-size: 24px;
                align-items: center;
                color: #424242;
            }
            &-counter {
                padding: 9px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80px;
                height: 38px;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 46px;
            }
            &-sum {
                font-weight: 600;
                font-size: 24px;
                align-items: center;
                color: #424242;
            }
            &-icon {
                width: 24px;
                height: 25px;
                border: none;
                outline: none;
                background-color: #fff;
                cursor: pointer;
            }
            &-add, &-remove {
                font-weight: 300;
                font-size: 17px;
                color: #BDBDBD;
                outline: none;
                border: none;
                background-color: #fff;
                cursor: pointer;
            }
            &-count {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #BDBDBD;
            }
        }
        &-order {
            margin-top: 50px;
            width: 527px;
            height: 344px;
            background: #FAF9F9;
            border-radius: 20px;
            &-wrap {
                padding: 48px 40px;
            }
            &-good {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            &-title {
                font-weight: 600;
                font-size: 18px;
                color: #424242;
                line-height: 14px;
            }
            &-price {
                font-weight: 600;
                font-size: 24px;
                color: #424242;
                line-height: 14px;
            }
            &-divider {
                display: inline-block;
                width: 42%;
                padding: 0 8px 0 4px;
                height: 0;
                border: 1px solid #EFEFEF;
            }
            &-discount {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            &-bonus {
                margin-top: 33px;
                display: flex;
                justify-content: space-between;
                &-title {
                    max-width: 183px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    color: #424242;
                }
                &-sum {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 35px;
                    color: #976464;
                }
            }
            &-all {
                
                max-width: 172px;
                &-title {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #424242;
                    text-align: right;
                }
                &-sum {
                    font-weight: 500;
                    font-size: 52px;
                    line-height: 61px;
                    color: #424242;
                    text-align: right;
                }
            }
            &-btn {
                margin-top: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 444px;
                height: 50px;
                background: $main-color;
                border-radius: 49px;
                outline: none;
                border: none;
                cursor: pointer;
                font-family: 'Spectral SC';
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                &:hover {
                    background: linear-gradient(102.48deg, #7B4646 -29.03%, #BF9191 97.75%);
                }
                &:active {
                    background: rgba(0, 0, 0, 0);;
                    color: #976464;
                    border: 1.79px solid #7B4646;
                }
            }
        }
    }
    &-additional {
        margin-top: 32px;
    }
}

.navigation__user-input input {
    background-color: #fff;
}

body {
    background-color: #fff;
}