.logIn {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 717px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
    &__wrapper {
        padding: 53px 107px 80px 107px;
    }
    &__close {
        position: absolute;
        top: 54px;
        left: 506px;
        background: #fff;
        outline: none;
        border: none;
        cursor: pointer;
    }
    &__title {
        margin-top: 77px;
        font-weight: 600;
        font-size: 28px;
        color: #424242;
        text-align: center;
    }
    &__mail {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        padding: 0 32px;
        width: 385px;
        height: 50px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 83px;
        outline: none;
        font-weight: normal;
        font-size: 14px;
        color: #BDBDBD;
        &:hover {
            border: 1px solid #976464; 
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &__password {
        position: relative;
        width: 385px;
        display: block;
        margin: 0 auto;
        input {
            margin-top: 24px;
            padding: 0 32px;
            width: 385px;
            height: 50px;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 83px;
            outline: none;
            font-weight: normal;
            font-size: 14px;
            color: #BDBDBD;
            &:hover {
                border: 1px solid #976464; 
            }
        }
    }
    &__visibility {
        position: absolute;
        top: 43px;
        left: 333px;
    }
    &__memory {
        position: relative;
        margin-top: 24px;
    }
    &__log{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 157px 140px;
        justify-content: center;
        column-gap: 24px;
    }
    &__btn {
        width: 152px;
        height: 50px;
        background: $main-color;
        border-radius: 49px;
        outline: none;
        border: none;
        font-family: 'Spectral SC';
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            background: linear-gradient(102.48deg, #7B4646 -29.03%, #BF9191 97.75%);
        }
        &:active {
            background: rgba(0, 0, 0, 0);;
            color: #976464;
            border: 1.79px solid #7B4646;
        }
    }
    &__forget {
        background-color: #fff;
        outline: none;
        border: none;
        font-weight: normal;
        font-size: 16px;
        color: #424242;
        cursor: pointer;
    }
    &__divider {
        margin: 40px 0;
        width: 385.02px;
        height: 0px;
        border: 1px solid #BDBDBD;
    }
    &__subtitle {
        font-weight: normal;
        font-size: 16px;
        color: #424242;
        text-align: center;
    }
    &__registration {
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        width: 217px;
        height: 50px;
        border: 1px solid #BDBDBD;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 49px;
        outline: none;
        font-family: 'Spectral SC';
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #BDBDBD;
        cursor: pointer;
        &:hover {
            border: 1px solid #976464; 
            color: #976464;
        }
        &:active {
            background: $main-color;
            color: #fff;
        }
    }
}

.input__memory {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
label {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

.input__memory+label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 30px;
    height: 30px;
    border: 0.9px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
}
.input__memory:checked+label::before {
    border-color: #976464;
    background-image: url('../../icons/checkbox_active.svg');
}
.input__memory:not(:disabled):not(:checked)+label:hover::before {
    background-image: url('../../icons/checkbox_hover.svg');
}